<div class="page-container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <h1>Deford's Pick</h1>
      <%= render partial: "shared/hot_game", locals: { game: @hot_game }%>
      <% if @hot_game %>
        <br />
        <br />
        <h2>Other Games to Watch</h2>
      <% else %>
        <h2>Upcoming Games</h2>
      <% end %>
      <br />
      <div class="feature-game-card-container">
        <%= render partial: "shared/game_card_intro", locals: { game: @hockey_game_of_the_day, timeframe: "Today" } %>
        <%= render partial: "shared/game_card", locals: { game: @hockey_game_of_the_day} %>
      </div>
      <div class="feature-game-card-container">
        <%= render partial: "shared/game_card_intro", locals: { game: @football_game_of_the_week, timeframe: "This Week" } %>
        <%= render partial: "shared/game_card", locals: { game: @football_game_of_the_week} %>
      </div>
      <div class="feature-game-card-container">
        <%= render partial: "shared/game_card_intro", locals: { game: @basketball_game_of_the_day, timeframe: "Today" } %>
        <%= render partial: "shared/game_card", locals: { game: @basketball_game_of_the_day} %>
      </div>
      <div class="feature-game-card-container">
        <%= render partial: "shared/game_card_intro", locals: { game: @baseball_game_of_the_day, timeframe: "Today" } %>
        <%= render partial: "shared/game_card", locals: { game: @baseball_game_of_the_day} %>
      </div>
    </div>
  </div>
  <div class="salutation"><a href="http://www.joeessey.com">I make all kinds of stuff.</a></div>
</div>
